@font-face {
	font-family: 'Dm-Bold';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("/fonts/DMSans-Bold.woff2") format("woff2");
}
@font-face {
	font-family: 'Dm-Medium';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url("/fonts/DMSans-Medium.woff2") format("woff2");
}
@font-face {
	font-family: 'Dm-Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("/fonts/DMSans-Regular.woff2") format("woff2");
}
