@media screen and (min-width: 910px) and (max-width: 1139px) {
    .header__bottom {
        align-self: self-start;
        padding-left: 7.9%;
        padding-right: 8.9%;
        padding-bottom: 7.8%;
    }
}