// Fonts 
$Dm-Bold: 'Dm-Bold', sans-serif;
$Dm-Medium: 'Dm-Medium', sans-serif;
$Dm-Regular: 'Dm-Regular', sans-serif;

//  Colors-text
$accent: #FFFFFF;
$color-text: #ffffff;
$color-1E: #1E0E62;
$color-1B: #1B1B1C;
$color-rgba: rgba(21, 20, 57, 40%);
//  Colors-background
$back: #FFFFFF;
$bg-section: #222228;
$bg-footer: #222228;
$bg-price: #34343D;
//  Colors-checkbox
$checkbox-square: #D1D1D1;
$checkbox-square-active: #FF0D6A;
$checkbox-oval: #ABABAB;
$checkbox-oval-active: #25DAC5;
//  Colors-button
$btn: #E93A7D;
$btn-hover: #D71862;
$btn-border: #EBEAED;
// Color-modal
$content-rgba: rgba(255, 255, 255, 50%);
$input-rgba: rgba(255, 255, 255, 60%);
$bg-modal: #222228;
$modal-border: #FFFFFF; 
$input-bg: #D1D1D1; 

